<div class="background-image">
  <h1 class="fancy-title main-title">Colorful Reminders</h1>
  <div id="slides" class="slides">
    <%= image_tag("screenshot1.png", :alt => "screenshot1") %>
    <%= image_tag("screenshot2.png", :alt => "screenshot2") %>
    <%= image_tag("screenshot3.png", :alt => "screenshot3") %>
    <a class ="slidesjs-previous slidesjs-navigation nav nav-left"href="" title="previous">
      <i class="icon-chevron-left icon-large red"></i>
    </a>
    <a class ="slidesjs-next slidesjs-navigation nav nav-right"href="" title="next">
      <i class="icon-chevron-right icon-large green"></i>
    </a>
  </div>
</div>