<h3 class="align-center">Bills</h3>
<ul id="bill-list">
<% @bills.each do |bill| %>
  <li class="bill-list-item">
    <span class="bill-name"><%= bill.name %></span>
    <span class="days-to-pay" data-day="<%= bill.day %>"></span>
  </li>
<% end %>
</ul>
